input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ededed;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #f7f8f7;
  border: 1px solid #a4ada4;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid #5db160;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
    text-transform: capitalize;
}

.task_title {
  text-decoration: line-through;
  opacity: 0.5;

}

.task {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ededed;
  text-transform: capitalize;

}
